body {
    font-family: Arial, sans-serif;
    background-color: #c696ee; 
    text-align: center;
    margin: 0;
    padding: 0;
}

header, main, footer, nav {
    margin: 20px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #cb47ff;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
